@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
    font-family: poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root {
    /* dark mode colors */
    --text-color:#E3E3E3;
    --subheading-color: #828282;
    --placeholder-color: #A6A6A6;
    --primary-color: #242424;
    --secondary-color: #383838;
    --secondary-hover-color: #444;
}

.light_mode {
    /* light mode colors */
    --text-color:#222;
    --subheading-color: #a0a0a0;
    --placeholder-color: #6c6c6c;
    --primary-color: #fff;
    --secondary-color: #e9eef6;
    --secondary-hover-color: #dbe1ea;
}

body{
    background: var(--primary-color) ;
}

.header, .typing-area {
    color: var(--text-color);
}

.header,  .chat-list .message, .typing-form  {
    width: 1000px;
    margin: 0 auto;
    scrollbar-width: none;
}
.header {
    margin-top: 7vh;
    padding: 1rem;
    /* display: none; */
}

body.hide-header .header {
display: none;
margin-top: 7vh;
}

.header :where(.title, .subtitle) {
    font-weight: 500;
    line-height: 3.6rem;
}

.header  .title {
    font-size: 2.7rem;
    background-clip: text ;
    width: fit-content;
    background: linear-gradient(to right,#4285f4, #d97560);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header .subtitle {
    font-size: 2.4rem;
    color: var(--subheading-color);
}

.suggestions-list {
    margin-top: 9.5vh;
    list-style: none;
    display: flex;
    gap: 1.25rem;
    overflow-x: auto;
    scrollbar-width: none;
}

.suggestions-list .suggestion {
    background-color: var(--secondary-color);
    padding: 1.25rem;
    width: 227px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    border-radius: 0.75rem;
    cursor: pointer;
}

.suggestions-list .suggestion:hover {
    background: var(--secondary-hover-color);
}


.suggestions-list .suggestion .text {
    font-weight: 400;
}

.suggestions-list .suggestion .icon {
    height: 42px;
    width: 42px;
    background-color: var(--primary-color);
    margin-top: 2.7rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typing-area {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
    padding: 1rem;
}

.chat-list .message .avatar {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    object-fit: cover;
    align-self: flex-start;
}

.chat-list .message .text.error {
    color: #e55865;
}

.chat-list .message.loading .text {
    display: none;
}

.chat-list .message .message-content {
    width: 100%;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.chat-list {
    padding: 2rem 1rem 12rem;
    overflow-y: auto;
    max-height: 100vh;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    scrollbar-color: #999 transparent;
}

.chat-list .message .incoming {
    margin-top: 1.5rem;
}

.chat-list .message .text {
    color: var(--text-color);
}

.chat-list .message.loading .text {
    display: none;
}

.chat-list .message.loading .avatar {
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
   100%{
    transform: rotate(360deg);
    }
}

.chat-list .message .icon {
    color: var(--text-color);
    height: 35px;
    width: 35px;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.25rem;
    cursor: pointer;
    visibility: hidden;
    margin-left: 4rem;
}

.chat-list .loading-indicator {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 0.8rem;
}

.chat-list .message.loading .loading-indicator {
    display: flex;
}

.chat-list .loading-indicator .loading-bar {
    height: 11px;
    width: 100%;
    border-radius: 0.14rem;
    background: linear-gradient(to right, #4285f4 , var(--primary-color),#4285f4);
    animation: animate 3s linear infinite;
}
.chat-list .loading-indicator .loading-bar:last-child{
    width: 70%;
}

@keyframes animate {
    0%{
        background-position: -800px 0;
    }
    100% {
        background-position: 800px 0;
    }
}


.chat-list .message:not(.loading):hover .icon:not(.hide) {
    visibility: visible;
}

.chat-list .message .icon:hover{
    background: var(--secondary-hover-color);
}

.typing-area .input-wrapper {
    width: 100%;
    height: 56px;
    display: flex;
    position: relative;
}

.typing-area :where(.typing-form, .action-buttons) {
    display: flex;
    gap: 0.5rem;
}

.typing-area .typing-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: var(--secondary-color);
    border-radius: 6.2rem;
    padding: 1.1rem 4rem 1.1rem 1.3rem;
    font-size: 1.1rem;
    color: var(--text-color);
}

.typing-area .typing-input::placeholder {
    color: var(--placeholder-color);
}

.typing-area .typing-input:focus {
    background: var(--secondary-hover-color);
}

.typing-area .icon {
    background: var(--secondary-color) ;
    height: 56px;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
}

.typing-area .input-wrapper .icon {
    position: absolute;
    right: 0;
    border: none;
    background: none;
    outline: none;
    color: var(--text-color);
    transform: scale(0);
    transition: transform 0.2s ease;
}

.typing-area .input-wrapper .typing-input:valid ~ .icon {
    transform: scale(1);
}

.typing-area .icon:hover {
    background: var(--secondary-hover-color)!important;
}

.typing-area .disclaimer-text {
    font-style: 0.85rem;
    margin-top: 1rem;
    text-align: center;
    color: var(--placeholder-color);
}

